{% extends "base.html" %}

{% block content %}
  <main>
    <div class="contact-wrapper">
      <!-- Right (now top): Info Panel -->
      <div class="contact-right">
        <div class="contact-info">

          <h4 class="email">Email</h4>
          <p>info@vomrugerhaus.com</p>

          <h4 class="socials">Socials</h4>
          <p>
            Instagram: @vomrugerhaus<br>
            Facebook: Vom Rugerhaus Kennels
          </p>

          <h4 class="hours">Business Hours</h4>
          <p>
            Mon–Fri: 9am – 5pm<br>
            Sat: 10am – 2pm<br>
            Sun: Closed
          </p>

          <h4 class="location">Location</h4>
          <p>Ocala, FL</p>

        </div>
      </div>
      <div class="contact-left">
        <div class="contact-map">
          <iframe
            src="https://maps.google.com/maps?q=Ocala,%20FL&z=12&output=embed"
            allowfullscreen
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
