{% extends "base.html" %}

{% block content %}
<main class="training-page">
  <div class="training-card">
    <video controls preload="metadata" class="training-video">
      <source
        src="{{ url_for('static', filename='videos/training.mp4') }}"
        type="video/mp4"
      >
      Your browser doesn’t support HTML5 video.
    </video>
    <div class="training-info">
      <h2 class="female-title">Training At Vom Rugerhaus</h2>
      <p>
      My specialized programs focus on <strong>puppy socialization</strong>, <strong>behavior modification</strong>, and <strong>advanced obedience</strong>.  
      Whether you’re laying the foundation for a confident, well-mannered puppy, correcting unwanted habits, or fine-tuning obedience cues, every session is personalized to your dog’s temperament and your goals.
    </p>

    <p>
      I also offer <strong>boarding &amp; training</strong>, giving your companion a safe, supervised environment to learn and grow while you’re away.  
      Your dog receives consistent, hands-on instruction—bringing out the very best in every canine.
    </p>
      <h2 class="female-title">Testimonials</h2>
    </div>
    <p>
      "Breanna did an amazing job training my German Shepherd, Thanos! Her patience, professionalism, and deep understanding of the breed really stood out. I saw a noticeable improvement in his behavior and obedience. Highly recommend Von Rugerhaus if you’re looking for quality training and real results!
-Kimberly L."
    </p>
      "HANDS DOWN the best trainer out there! Breanna transformed my nervous and shy Great Dane into a confident and well rounded pup in no time at all. She has boarded him as well for a week and he hardly wanted to come home as he had such a great time! 5⭐️"
-Justin B.
    </p>
      "My giant schnauzer, Trixie, was getting too uncontrollable for my family and I didn’t know what to do with her or how to train her to be a better dog. She was almost 8 months old at the time and I reached out to Vom Rugerhaus for help. Trixie spent two weeks in training and came home a new and improved dog. The training helped her so much. We had a few more weekly trainings since then and have received continuous support and advice. Trixie is thriving and is the best family dog. If it wasn’t for the amazing support and knowledge provided by Vom Rugerhaus, I don’t know how I would’ve managed Trixie on my own. I am forever grateful!
-Teresa B."
    </p>
  </div>
  <h2 class="gallery-title">Training Gallery</h2>
  <div class="photo-gallery">
    {% for photo in photos %}
      <img
        src="{{ url_for('static', filename='images/gallery/' ~ photo) }}"
        alt=""
        class="gallery-item"
      >
    {% endfor %}
  </div>
  <div id="gallery-modal" class="gallery-modal">
    <span class="close-modal">&times;</span>
    <img id="modal-img" class="modal-content">
  </div>
</main>
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>
{% endblock %}
